@font-face {
  font-family: "Gilroy";
  font-family-src: url("../fonts/Gilroy-Regular.eot");
  font-family-src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-family-font-weight: normal;
  font-family-font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-family-src: url("../fonts/Gilroy-Semibold.eot");
  font-family-src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-family-font-weight: 600;
  font-family-font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-family-src: url("../fonts/Gilroy-Bold.eot");
  font-family-src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-family-font-weight: 700;
  font-family-font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  font-family-src: url("../fonts/Gilroy-Black.eot");
  font-family-src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-family-font-weight: 900;
  font-family-font-style: normal;
}
body {
  font-family: "Gilroy";
  font-size: 10px;
  color: #8D8D8D;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-anchor: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content > div {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

.blue {
  color: #0083C3;
}

.white {
  color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}