@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"), url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "Gilroy";
  font-size: 10px;
  color: #5C5C5C;
}

a {
  color: #5C5C5C;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-anchor: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content > div {
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0083C3;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Gilroy";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc(100% + 60px);
  background: linear-gradient(153deg, rgba(43, 42, 41, 0.05) -51.72%, rgba(43, 41, 43, 0) 74.68%, rgba(43, 41, 43, 0.0435) 125.22%), linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04)), url("../img/main-bg.jpg") no-repeat left top/100vw;
  filter: blur(10px);
}
.header__container {
  position: relative;
}
.header__main-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  gap: 55px;
  padding-top: 30px;
  padding-bottom: 20px;
  min-height: 150px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__large {
  flex-grow: 1;
}
.header__logo {
  display: block;
  width: 143px;
  height: 56px;
}
.header__logo img {
  width: 100%;
}
.header__social {
  display: flex;
  gap: 33px;
}
.header__link {
  font-size: 22px;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.header__link:hover {
  color: #008DD2;
}
.header__cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__cart:hover .header__cart-text {
  color: #ffffff;
}
.header__cart:hover .header__cart-icon * {
  fill: #ffffff;
}
.header__cart-text {
  display: inline-block;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.header__cart-item {
  position: relative;
}
.header__cart-icon {
  width: 27px;
  min-width: 27px;
  max-width: 27px;
  height: 31px;
  min-height: 31px;
  max-height: 31px;
}
.header__cart-icon * {
  transition: all 0.2s ease-in-out;
}
.header__cart-count {
  position: absolute;
  height: 15px;
  min-width: 15px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 50%;
  top: -2px;
  right: -10px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #21487B;
}
.header__cart:hover .header__cart-text {
  color: #008DD2;
}
.header__cart:hover .header__cart-icon * {
  fill: #008DD2;
}
.header__phone {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}
.header__phone i {
  margin-right: 10px;
}
.header__phone:hover {
  color: #008DD2;
}

.city {
  position: relative;
}
.city__current {
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.city__current:hover {
  color: #008DD2;
}
.search {
  display: flex;
  align-items: stretch;
  height: 43px;
}
.search__submit {
  border: 2px solid #ffffff;
  padding: 10px 9px 9px 10px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}
.search__submit svg {
  width: 20px;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  min-height: 20px;
  max-height: 20px;
}
.search__submit svg * {
  transition: all 0.2s ease-in-out;
}
.search__submit:hover {
  background: transparent;
}
.search__submit:hover svg * {
  fill: #ffffff;
}
.search__block {
  height: 100%;
}
.search__text {
  height: 100%;
  width: 390px;
  padding: 13px 30px;
  background: #ffffff;
  border-radius: 6px;
  font-size: 15px;
  line-height: 17px;
}
.search__text:placeholder {
  color: #C4C4C4;
}

.account__link {
  font-size: 21px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.account__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.account__link:hover {
  color: #008DD2;
}
.account__link:hover::after {
  background-color: #008DD2;
}

.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav__list-item {
  padding: 0 15px;
}
.nav__link {
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.nav__link:hover {
  color: #008DD2;
}

.footer {
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  padding: 31px 0;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
  border-bottom: 3px solid #E9E9E9;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 36px 0 30px;
}
.footer__left {
  width: 33%;
  text-align: left;
}
.footer__center {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__right {
  width: 33%;
  text-align: right;
}
.footer__content {
  font-size: 34px;
  line-height: 40px;
  color: #8D8D8D;
  margin-bottom: 17px;
}
.footer__link-mail {
  font-size: 24px;
  line-height: 28px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #0083C3;
  transition: all 0.2s ease-in-out;
}
.footer__link-mail:hover {
  color: #8D8D8D;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer__link-phone {
  font-size: 25px;
  line-height: 29px;
  color: #0083C3;
  transition: all 0.2s ease-in-out;
}
.footer__link-phone:hover {
  color: #8D8D8D;
}
.footer__logo {
  display: block;
  width: 284px;
}
.footer__logo img {
  width: 100%;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 58px;
  gap: 45px;
}
.footer__social-link {
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.footer__social-link svg * {
  fill: #008DD2;
}
.footer__social-link:hover {
  border: 3px solid #008DD2;
}
.footer__title-link {
  display: inline-block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #8D8D8D;
  text-transform: uppercase;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}
.footer__title-link:hover {
  color: #0083C3;
}
.footer__list-item:not(:last-of-type) {
  margin-bottom: 15px;
}
.footer__link {
  font-size: 17px;
  line-height: 20px;
  color: #8D8D8D;
  transition: all 0.2s ease-in-out;
}
.footer__link:hover {
  color: #0083C3;
}

.main-banner {
  position: relative;
  margin-top: -150px;
  min-height: 100vh;
}
.main-banner__image {
  width: 100%;
}
.main-banner__image img {
  width: 100%;
}
.main-banner__container {
  position: absolute;
  top: 150px;
  height: calc(100% - 150px);
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}
.main-banner__block {
  padding: 93px 0;
  position: relative;
}
.main-banner__desc {
  position: absolute;
  top: 93px;
  left: 0;
  transform-origin: left top;
  transform: rotate(90deg) translate(93px, 36px);
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.main-banner__desc::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 57px;
  background-color: #ffffff;
  top: 50%;
  left: -74px;
  transform: translateY(-50%);
}
.main-banner__title {
  font-size: 55px;
  line-height: 69px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.main-banner__title span {
  display: block;
  font-size: 70px;
  line-height: 87px;
}
.main-banner__subtitle {
  font-size: 35px;
  line-height: 44px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 54px;
}
.main-banner__content {
  max-width: 685px;
  font-size: 21px;
  line-height: 25px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 0px 30px #000000;
}
.main-banner__link {
  display: inline-block;
  padding: 20px 100px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #0083C3;
  text-transform: uppercase;
  margin-top: 53px;
  transition: all 0.2s ease-in-out;
}
.main-banner__link:hover {
  background: transparent;
  color: #ffffff;
}

.uniq {
  padding: 95px 0;
  background: url("../img/uniq/uniq-bg.svg") no-repeat right center;
}
.uniq__title {
  margin-bottom: 20px;
}
.uniq__content {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 25px;
  max-width: 1000px;
}
.uniq__content-half {
  max-width: 600px;
}
.uniq__items {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 600px;
  margin-top: 35px;
  gap: 45px 0;
}
.uniq__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
}
.uniq__item-icon {
  position: relative;
  margin-bottom: 10px;
}
.uniq__item-icon span {
  position: absolute;
  left: 50%;
  bottom: 32px;
  max-width: 65px;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 16px;
  color: #959595;
  text-align: center;
  white-space: nowrap;
}
.uniq__item-content {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}

.health__container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.health__left {
  width: 323px;
  position: absolute;
  bottom: -232px;
  left: 0;
}
.health__left img {
  width: 100%;
}
.health__image {
  position: relative;
  min-height: 490px;
  display: flex;
  flex-direction: column;
}
.health__back {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}
.health__back > img {
  min-width: 100%;
}
.health__image-text {
  max-width: calc(100% - 400px);
}
.health__image-title {
  text-transform: none;
  color: #ffffff;
  margin-bottom: 25px;
}
.health__image-content {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 56px;
}
.health__content {
  font-size: 24px;
  line-height: 29px;
  color: #565656;
  margin-top: 35px;
  margin-bottom: 80px;
  max-width: calc(100% - 400px);
}
.health__bottom {
  position: relative;
}
.health__bottom::after {
  content: url("../img/health/eagle.svg");
  position: absolute;
  right: 27px;
  bottom: 35px;
}
.health__bottom-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 120px;
}
.health__bottom-container::after {
  content: "Legend Of Baikal ЭТО:";
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 62px;
  line-height: 75px;
  font-weight: 700;
  text-transform: uppercase;
  color: #E4E2E2;
}
.health__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.health__item-title {
  width: 66.6666666%;
  flex-grow: 2;
  font-size: 45px;
  line-height: 54px;
  font-weight: 600;
  color: #565656;
  margin-bottom: 40px;
}
.health__item {
  flex-grow: 1;
  width: 33.3333333%;
  margin-bottom: 40px;
}
.health__item-number {
  font-size: 75px;
  line-height: 91px;
  color: #E1E1E1;
  margin-bottom: 6px;
}
.health__item-content {
  font-size: 22px;
  line-height: 26px;
  color: #565656;
}

.main-banners > img {
  width: 100%;
}

.main-catalog {
  padding-top: 68px;
  padding-bottom: 30px;
}
.main-catalog__title {
  margin-bottom: 23px;
}
.main-catalog__subtitle {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}
.main-catalog__items {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px 0;
}
.main-catalog__link {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}
.main-catalog__link span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.main-catalog__link svg {
  margin-left: 24px;
}
.main-catalog__link svg * {
  transition: all 0.2s ease-in-out;
  fill: #464646;
}
.main-catalog__link:hover {
  color: #0083C3;
}
.main-catalog__link:hover svg * {
  fill: #0083C3;
}

.item {
  position: relative;
  display: block;
  width: 278px;
  height: 387px;
}
.item__buttons {
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.item__button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 12px;
  transition: all 0.2s ease-in-out;
}
.item__button svg * {
  transition: all 0.2s ease-in-out;
  fill: #C4C4C4;
}
.item__button:last-child {
  margin-bottom: 0;
}
.item__button:hover {
  background: #0083C3;
}
.item__button:hover svg * {
  fill: #ffffff;
}
.item__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  padding: 10px 20px 65px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 21.1985px rgba(0, 0, 0, 0.1);
  border-radius: 5.29962px;
}
.item__desc {
  position: absolute;
  top: 9px;
  right: 9px;
  border-radius: 11px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  font-weight: 600;
}
.item__desc_new {
  color: #ffffff;
  background: #0083C3;
  padding: 4px 10px;
}
.item__desc_promotion {
  color: #ffffff;
  background: #CD5C5C;
  padding: 4px 10px;
}
.item__desc_discount {
  border: 1px solid #0083C3;
  color: #0083C3;
  padding: 5px 8px;
}
.item__image {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
}
.item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item__price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  margin-bottom: 6px;
}
.item__price span {
  font-size: 16px;
  line-height: 125%;
  color: #464646;
}
.item__price span:first-of-type {
  font-size: 20px;
  color: #0083C3;
}
.item__price-old {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-left: 19px;
  padding-right: 5px;
  margin-bottom: 7px;
}
.item__price-old span {
  font-size: 13px;
  line-height: 16px;
  color: #EA4242;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.item__name {
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #464646;
}
.item__buy {
  position: absolute;
  z-index: 1;
  bottom: 17px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 61px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-color: #008DD2;
  border: 2px solid #008DD2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.item__buy svg {
  margin-left: 8px;
}
.item__buy svg * {
  fill: #ffffff;
  transition: all 0.2s ease-in-out;
}
.item__buy:hover {
  background-color: transparent;
  color: #008DD2;
}
.item__buy:hover svg * {
  fill: #008DD2;
}
.item:hover .item__buttons {
  opacity: 1;
}
.item:hover .item__container {
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  padding: 10px 30px 65px 30px;
}
.item:hover .item__buy {
  bottom: 7px;
}

.main-promotions__title {
  margin-bottom: 50px;
}
.main-promotions__row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 22px;
}
.main-promotions__left {
  width: 40%;
}
.main-promotions__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  gap: 22px;
}
.main-promotions__item {
  display: block;
  flex-grow: 1;
}
.main-promotions__item:hover .main-promotions__item-image {
  transform: scale(1.04) translate(-2%, -2%);
}
.main-promotions__item .main-promotions__item-image {
  width: 100%;
  height: 200px;
}
.main-promotions__item-big .main-promotions__item-image {
  width: 100%;
  height: 458px;
}
.main-promotions__item-large {
  flex-grow: 2;
}
.main-promotions__item-large .main-promotions__item-image {
  width: 100%;
  height: 200px;
}
.main-promotions__item-image {
  position: relative;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.15));
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.main-promotions__item-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  border-radius: 5px;
}
.main-promotions__item-name {
  margin-top: 13px;
  padding-left: 11px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}

.main-news {
  background: url("../img/news/main-bg.png") no-repeat top center/100%;
  padding: 85px 0;
}
.main-news__slider {
  margin-top: 25px;
  border-top: 1px solid #DBDBDB;
  padding: 33px 0 0;
  position: relative;
}
.main-news__arrows {
  position: absolute;
  bottom: calc(100% + 25px);
  right: 22px;
  display: flex;
}
.main-news__arrow {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 23px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.main-news__arrow:hover {
  background: transparent;
  border-color: #0083C3;
}
.main-news__arrow-left {
  padding-right: 6px;
}
.main-news__arrow-right {
  padding-left: 6px;
}
.main-news__items {
  display: flex;
  justify-content: space-between;
}
.main-news__item-title {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
  color: #0083C3;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-news__item-content {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 15px;
}
.main-news__item-link {
  width: 223px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0083C3;
  border-radius: 11px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0083C3;
  transition: all 0.2s ease-in-out;
}
.main-news__item-link:hover {
  background-color: #0083C3;
  color: #ffffff;
}

.main-partners {
  position: relative;
  padding-top: 60px;
  padding-bottom: 90px;
}
.main-partners::after {
  content: url("../img/partners/bird.svg");
  position: absolute;
  top: 12px;
  right: 35px;
}
.main-partners__title {
  margin-bottom: 23px;
}
.main-partners__subtitle {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}
.main-partners__slider {
  position: relative;
}
.main-partners__arrow {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.main-partners__arrow:hover {
  background: transparent;
  border-color: #0083C3;
}
.main-partners__arrow-left {
  position: absolute;
  top: calc(50% - 25px);
  left: -80px;
  transform: translateY(-50%);
  padding-right: 6px;
}
.main-partners__arrow-right {
  position: absolute;
  top: calc(50% - 25px);
  right: -80px;
  transform: translateY(-50%);
  padding-left: 6px;
}
.main-partners__items {
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
.main-partners__item {
  width: 25%;
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
.main-partners__item:nth-of-type(4n) {
  border-right: none;
}
.main-partners__item:nth-of-type(n+5) {
  border-bottom: none;
}
.main-partners__item img {
  max-width: 90%;
  max-height: 90%;
}
.main-partners__pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.main-partners__pagination span {
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid #008DD2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main-partners__pagination span:hover {
  background: #008DD2;
}
.main-partners__pagination-active {
  background: #008DD2;
}

.main-videos {
  padding-top: 65px;
  padding-bottom: 100px;
  background: url("../img/videos/main-bg.png") no-repeat top center/100%;
}
.main-videos__slider {
  position: relative;
}
.main-videos__arrow {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.main-videos__arrow:hover {
  background: transparent;
  border-color: #0083C3;
}
.main-videos__arrow-left {
  position: absolute;
  top: calc(50% - 32px);
  left: -80px;
  transform: translateY(-50%);
  padding-right: 6px;
}
.main-videos__arrow-right {
  position: absolute;
  top: calc(50% - 32px);
  right: -80px;
  transform: translateY(-50%);
  padding-left: 6px;
}
.main-videos__items {
  position: relative;
  margin-bottom: 50px;
}
.main-videos__item {
  position: relative;
  width: 100%;
  height: 600px;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-videos__item-video {
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}
.main-videos__item-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  padding-left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.5);
  transition: all 0.2s ease-in-out;
}
.main-videos__item-play svg * {
  fill: #ffffff;
  transition: all 0.2s ease-in-out;
}
.main-videos__item-play:hover {
  background: #ffffff;
}
.main-videos__item-play:hover svg * {
  fill: #0083C3;
}
.main-videos__pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.main-videos__pagination span {
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid #008DD2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main-videos__pagination span:hover {
  background: #008DD2;
}
.main-videos__pagination-active {
  background: #008DD2;
}

.main-replies {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
}
.main-replies__title {
  margin-bottom: 23px;
}
.main-replies__subtitle {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}
.main-replies__slider {
  position: relative;
}
.main-replies__arrow {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}
.main-replies__arrow:hover {
  background: transparent;
  border-color: #0083C3;
}
.main-replies__arrow-left {
  position: absolute;
  top: calc(50% - 25px);
  left: -80px;
  transform: translateY(-50%);
  padding-right: 6px;
}
.main-replies__arrow-right {
  position: absolute;
  top: calc(50% - 25px);
  right: -80px;
  transform: translateY(-50%);
  padding-left: 6px;
}
.main-replies__items {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  gap: 85px;
}
.main-replies__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.main-replies__item-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 262px;
  overflow: hidden;
  margin-bottom: 33px;
}
.main-replies__item-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.main-replies__item-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.main-replies__item-content {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-top: 16px;
}
.main-replies__pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
}
.main-replies__pagination span {
  display: block;
  width: 14px;
  height: 14px;
  border: 2px solid #008DD2;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.main-replies__pagination span:hover {
  background: #008DD2;
}
.main-replies__pagination-active {
  background: #008DD2;
}