* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Open Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  -webkit-user-select: none;
          user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.row {
  --bs-gutter-x: 10px;
}

button:focus {
  outline: none;
}

body {
  color: #61676C;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-anchor: none;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content > * {
  width: 100%;
}

@media (min-width: 1400px) {
  .container {
    width: 1140px;
  }
}

.text-align-right {
  text-align: right;
}

.thanks {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.07);
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.thanks.active {
  display: block;
  opacity: 1;
}
.thanks__main {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px;
  width: 290px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .thanks__main {
    padding: 30px;
    width: 560px;
    height: 320px;
  }
}
.thanks__title {
  font-family: "Quattrocento Sans";
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: #323D47;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .thanks__title {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 17px;
  }
}
.thanks__content {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .thanks__content {
    font-size: 18px;
    line-height: 30px;
  }
}
.thanks__button {
  width: 100%;
  margin-top: auto;
  background-color: #357ABD;
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 16px;
  border-radius: 6px;
  padding: 9px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .thanks__button {
    font-size: 18px;
    line-height: 23px;
    border-radius: 10px;
    padding: 17px;
  }
  .thanks__button:hover {
    background: rgba(53, 122, 189, 0.7);
  }
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__link {
  color: #75797C;
  font-family: "Quattrocento Sans";
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  background-color: transparent;
  transition: color 0.2s ease;
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 14px;
    line-height: 16px;
  }
  .header__link:hover {
    color: #357ABD;
  }
}
.breadcrumb{
  margin-top: 40px;
  background-color: #ffffff;
  padding-left: 0;
}

.breadcrumb__link{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #61676C;
}
.breadcrumb__link:hover{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #357ABD;
  }
.breadcrumb__link_active{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #61676C;
  opacity: 50%;
  }
  .breadcrumb__link_active:hover{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #61676C;
    opacity: 50%;
    }
.breadcrumb-item+.breadcrumb-item::before {
  font-size: 18px;
  line-height: 30px;
}

.main-screen__container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 170px;
}
@media screen and (min-width: 768px) {
  .main-screen__container {
    padding-top: 60px;
    padding-bottom: 290px;
  }
}
@media screen and (min-width: 992px) {
  .main-screen__container {
    padding-top: 112px;
    padding-bottom: 350px;
  }
}
.main-screen__title {
  position: relative;
  z-index: 1;
  font-family: "Quattrocento Sans";
  font-size: 48px;
  line-height: 44px;
  font-weight: 700;
  color: #3B78B7;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .main-screen__title {
    font-size: 144px;
    line-height: 100%;
    margin-bottom: 25px;
  }
}
.main-screen__subtitle {
  position: relative;
  z-index: 1;
  font-family: "Quattrocento Sans";
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #323D47;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .main-screen__subtitle {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 58px;
  }
}
.main-screen__button {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 9px 50px 9px 44px;
  background: #3B78B7;
  border-radius: 6px;
  transition: all 0.2s ease;
}
.main-screen__button img, .main-screen__button svg {
  margin-left: 13px;
}
@media screen and (min-width: 768px) {
  .main-screen__button {
    font-size: 22px;
    line-height: 29px;
    padding: 13px 62px 13px 54px;
    border-radius: 10px;
  }
  .main-screen__button img, .main-screen__button svg {
    margin-left: 16px;
  }
  .main-screen__button:hover {
    background: rgba(53, 122, 189, 0.7);
  }
}
.main-screen__image {
  width: 86.5%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-screen__image img {
  width: 100%;
}

.info {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .info {
    margin-top: 112px;
  }
}
.info__title {
  font-family: "Dosis";
  font-size: 18px;
  line-height: 23px;
  color: #323D47;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .info__title {
    font-size: 36px;
    line-height: 46px;
  }
}
.info__line {
  margin: 20px auto;
  width: 60px;
  height: 1px;
  background-color: #D0D0D0;
}
@media screen and (min-width: 768px) {
  .info__line {
    margin: 30px auto;
  }
}
.info__subtitle {
  font-size: 12px;
  line-height: 22px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .info__subtitle {
    font-size: 18px;
    line-height: 30px;
  }
}
.info__items {
  margin-top: 20px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .info__items {
    margin-top: 50px;
    padding-bottom: 82px;
    border-bottom: 1px solid #D0D0D0;
  }
}
.info__item {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-bottom: 10px;
  min-height: 160px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .info__item {
    min-height: 260px;
  }
  .info__item:hover {
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  }
}
.info__icon {
  margin-right: 20px;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .info__icon {
    width: auto;
    margin-right: 30px;
  }
}
.info__content {
  padding-right: 20px;
}
.info__content h5 {
  font-family: "Dosis";
  font-size: 16px;
  line-height: 20px;
  color: #3B78B7;
  font-weight: 500;
  margin-bottom: 6px;
}
@media screen and (min-width: 768px) {
  .info__content h5 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.info__content p {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .info__content p {
    font-size: 14px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .info__items .col-lg-6 .info__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .info__items .col-lg-6:nth-of-type(2n-1) .info__item {
    margin-right: 10px;
  }
  .info__items .col-lg-6:nth-of-type(2n) .info__item {
    margin-left: 10px;
  }
}

.services__block {
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .services__block {
    padding: 112px 0;
    border-bottom: 1px solid #D0D0D0;
  }
}
@media screen and (min-width: 992px) {
  .services__block:nth-of-type(2n) > .col-lg-8 {
    padding-right: 30px;
  }
  .services__block:nth-of-type(2n) > .col-lg-8 {
    order: 1;
    padding-left: 30px;
  }
}
.services__title {
  font-family: "Dosis";
  font-size: 18px;
  line-height: 23px;
  color: #323D47;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .services__title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 40px;
  }
}
.services__item {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .services__item {
    margin-bottom: 20px;
  }
}
.services__item h5 {
  font-size: 16px;
  line-height: 22px;
  color: #3B78B7;
}
@media screen and (min-width: 768px) {
  .services__item h5 {
    font-size: 22px;
    line-height: 30px;
  }
}
.services__item p {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .services__item p {
    font-size: 18px;
    line-height: 32px;
  }
}
.services__image img {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .services__image {
    padding-right: 10px;
  }
}
@media screen and (min-width: 992px) {
  .services__image {
    margin-bottom: 30px;
  }
}
.services__view button {
  width: 100%;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #357ABD;
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 16px;
  color: #357ABD;
  transition: all 0.2s ease;
}
.services__view button img, .services__view button svg {
  margin-left: 5px;
}
.services__view button img *, .services__view button svg * {
  transition: all 0.2s ease;
}
.services__view label {
  width: 100%;
  height: 100%;
  padding: 9px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.services__view p {
  font-size: 12px;
  line-height: 16px;
  color: #357ABD;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}
@media screen and (min-width: 400px) {
  .services__view {
    padding-left: 10px;
  }
  .services__view button img, .services__view button svg {
    margin-left: 13px;
  }
  .services__view label {
    padding: 9px;
  }
}
@media screen and (min-width: 768px) {
  .services__view {
    padding-left: 5px;
  }
  .services__view button {
    font-size: 18px;
    line-height: 23px;
    border-radius: 10px;
  }
  .services__view button img, .services__view button svg {
    margin-left: 16px;
    width: 8px;
  }
  .services__view button:hover {
    background-color: #357ABD;
    color: #ffffff;
  }
  .services__view button:hover svg * {
    fill: #ffffff;
  }
  .services__view label {
    padding: 17px;
  }
  .services__view p {
    font-size: 16px;
    line-height: 30px;
  }
}

.plan {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .plan {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 992px) {
  .plan {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}
.plan__title {
  font-family: "Quattrocento Sans";
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323D47;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .plan__title {
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 50px;
  }
}
.plan__switcher {
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent;
}
.plan__switcher::-webkit-scrollbar {
  height: 0;
  width: 0;
  background-color: transparent;
}
@media screen and (min-width: 992px) {
  .plan__switcher {
    display: flex;
    justify-content: center;
  }
}
.plan__switcher-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: fit-content;
}
@media screen and (min-width: 576px) {
  .plan__switcher-container {
    padding-left: calc((100% - 540px) / 2 );
    padding-right: calc((100% - 540px) / 2 );
  }
}
@media screen and (min-width: 768px) {
  .plan__switcher-container {
    padding-left: calc((100% - 720px) / 2 );
    padding-right: calc((100% - 720px) / 2 );
  }
}
@media screen and (min-width: 992px) {
  .plan__switcher-container {
    padding-left: calc((100% - 960px) / 2 );
    padding-right: calc((100% - 960px) / 2 );
  }
}
@media screen and (min-width: 1200px) {
  .plan__switcher-container {
    padding-left: calc((100% - 1140px) / 2 );
    padding-right: calc((100% - 1140px) / 2 );
  }
}
.plan__switcher-container > .plan__inner {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  background: #E5E9F3;
  border-radius: 10px;
}
@media screen and (min-width: 992px) {
  .plan__switcher-container > .plan__inner {
    padding: 5px;
  }
}
.plan__switch {
  white-space: nowrap;
  position: relative;
}
.plan__switch input {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.plan__switch input:checked + label {
  background-color: #357ABD;
  color: #ffffff;
}
.plan__switch label {
  font-family: "Quattrocento Sans";
  font-size: 12px;
  line-height: 13px;
  background-color: transparent;
  transition: all 0.2s ease;
  margin-left: 5px;
  margin-right: 5px;
  padding: 14px 26px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .plan__switch label {
    font-size: 18px;
    line-height: 20px;
  }
  .plan__switch label:hover {
    background: rgba(59, 120, 183, 0.2);
  }
}
@media screen and (min-width: 992px) {
  .plan__switch label {
    padding: 13px 46px;
  }
}
.plan__switch:first-of-type label {
  border-radius: 10px 0 0 10px;
  margin-left: 0;
}
.plan__switch:last-of-type label {
  border-radius: 0 10px 10px 0;
  margin-right: 0;
}
.plan__items {
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: transparent;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s linear;
}
.plan__items::-webkit-scrollbar {
  height: 0;
  width: 0;
  background-color: transparent;
}
.plan__items-container {
  width: fit-content;
  min-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (min-width: 576px) {
  .plan__items-container {
    padding-left: calc((100% - 540px) / 2 );
    padding-right: calc((100% - 540px) / 2 );
  }
}
@media screen and (min-width: 768px) {
  .plan__items-container {
    padding-left: calc((100% - 720px) / 2 );
    padding-right: calc((100% - 720px) / 2 );
  }
}
@media screen and (min-width: 992px) {
  .plan__items-container {
    padding-left: calc((100% - 960px) / 2 );
    padding-right: calc((100% - 960px) / 2 );
  }
}
@media screen and (min-width: 1200px) {
  .plan__items-container {
    padding-left: calc((100% - 1140px) / 2 );
    padding-right: calc((100% - 1140px) / 2 );
  }
}
.plan__items-container > .plan__inner {
  width: fit-content;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan__item {
  margin: 0 12px;
}
.plan__item:first-of-type {
  margin-left: 0;
}
.plan__item:last-of-type {
  margin-right: 0;
}

.item {
  width: 165px;
  background: #F2F4F9;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: all 0.2s ease;
}
@media screen and (min-width: 768px) {
  .item {
    padding: 34px 20px 20px;
    width: 330px;
  }
}
.item__name {
  font-size: 14px;
  line-height: 22px;
  color: #696871;
  margin-bottom: 0;
  transition: all 0.2s ease;
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  .item__name {
    font-size: 18px;
    line-height: 28px;
  }
}
.item__price {
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 40px;
  color: #1D293F;
  transition: all 0.2s ease;
}
.item__price span {
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .item__price {
    margin-top: 22px;
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 56px;
  }
  .item__price span {
    font-size: 60px;
  }
}
.item__content {
  font-size: 14px;
  line-height: 22px;
  color: #696871;
  margin-bottom: 0;
  transition: all 0.2s ease;
}
@media screen and (min-width: 768px) {
  .item__content {
    font-size: 18px;
    line-height: 50px;
  }
}
.item__submit {
  width: 100%;
  margin-top: 11px;
  background: #ffffff;
  border-radius: 6px;
  padding: 8px;
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 16px;
  color: #357ABD;
  transition: all 0.2s ease;
}
@media screen and (min-width: 768px) {
  .item__submit {
    margin-top: 47px;
    padding: 16px;
    font-size: 18px;
    line-height: 23px;
  }
  .item__submit:hover {
    color: #ffffff;
    background-color: #42B8EA;
  }
}
.item-active {
  width: 181px;
  padding-bottom: 20px;
  background-color: #357ABD;
  margin: 0 4px;
}
@media screen and (min-width: 768px) {
  .item-active {
    padding: 50px 43px 60px;
    width: 376px;
  }
}
.item-active .item__name {
  color: #ffffff;
}
.item-active .item__price {
  color: #ffffff;
}
.item-active .item__content {
  color: #ffffff;
}
.item-active .item__submit {
  color: #ffffff;
  background-color: #42B8EA;
  padding: 9px;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .item-active .item__submit {
    padding: 17px;
    margin-top: 23px;
  }
  .item-active .item__submit:hover {
    background-color: #7BCEF1;
  }
}

.message {
  background-color: #E5E9F3;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .message {
    padding: 50px 0;
  }
}
@media screen and (min-width: 992px) {
  .message {
    padding: 112px 0;
  }
}
.message__title {
  font-family: "Dosis";
  color: #323D47;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .message__title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 40px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.form__block {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .form__block {
    margin-bottom: 20px;
  }
}
.form__block input {
  width: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 14px;
  color: #323D47;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
}
.form__block input::placeholder {
  color: #D0D0D0;
}
@media screen and (min-width: 768px) {
  .form__block input {
    font-size: 16px;
    line-height: 30px;
    padding: 13px;
  }
}
.form__block textarea {
  width: 100%;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 14px;
  color: #323D47;
  padding: 10px;
  min-height: 70px;
  resize: none;
  background: #ffffff;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
}
.form__block textarea::placeholder {
  color: #D0D0D0;
}
._error {
  border-color: orangered !important;
}
@media screen and (min-width: 768px) {
  .form__block textarea {
    font-size: 16px;
    line-height: 30px;
    padding: 13px;
    min-height: 160px;
  }
}
.form__submit {
  display: flex;
  align-items: center;
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 9px;
  background: #357ABD;
  border-radius: 6px;
  margin-top: 6px;
  transition: all 0.2s ease;
}
.form__submit span {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .form__submit {
    margin-top: 20px;
    font-size: 18px;
    line-height: 23px;
    padding: 17px;
    border-radius: 10px;
  }
  .form__submit:hover {
    background: rgba(53, 122, 189, 0.7);
  }
}

.footer {
  height: 120px;
  background-color: #ffffff;
  padding: 24px 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 992px) {
  .footer {
    padding-top: 49px;
  }
}
.footer .row p, .footer .row ul {
  margin-bottom: 0;
  padding-left: 0;
  font-size: 10px;
  line-height: 14px;
}
@media screen and (min-width: 768px) {
  .footer .row p, .footer .row ul {
    font-size: 16px;
    line-height: 22px;
  }
}
.footer .row ul a {
  color: #75797C;
  transition: color 0.2s ease;
}
@media screen and (min-width: 768px) {
  .footer .row ul a:hover {
    color: #357ABD;
  }
}
@media screen and (min-width: 992px) {
  .footer__list-item {
    padding: 0 22px;
  }
}


.rules {
margin-bottom:60px;
}
@media screen and ( min-width: 768px ) {
  .rules {
    margin-bottom:120px;
  }
}

.rules__title {
margin-top: 20px;
margin-bottom: 10px;
font-family: Dosis;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #323D47;
}
@media screen and ( min-width: 768px ) {
  .rules__title {
    font-size: 36px;
    line-height: 46px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.rules__content{
text-align: left;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 30px;
color: #61676C;
margin-bottom: 30px;
}
@media screen and ( min-width: 768px ) {
  .rules__content {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.rules__content_updated{
margin-top: 30px;
}
@media screen and ( min-width: 768px ) {
  .rules__content_updated {
    margin-top: 20px;
  }
}
.rules__list {
  margin-top: 40px;
  margin-bottom: 40px;
}
.rules__list .rules__content {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}
@media screen and ( min-width: 768px ) {
  .rules__list {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rules__list .rules__content {
    padding-left: 40px;
  }
}


.popup-plan{
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.07);
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  justify-content: center;
  align-items: center;
}
.popup-plan.active {
  display: flex;
  opacity: 1;
}
.popup-plan__main{
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  width: 400px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}
@media screen and ( min-width: 992px ) {
  .popup-plan__main{
    width: 945px;
    padding: 40px 50px;
  }
}
.popup-plan__close{
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: transparent;
  display: none;
}
.popup-plan__title{
  font-family: Quattrocento Sans;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
@media screen and ( min-width: 992px ) {
  .popup-plan__title{
    margin-bottom: 40px;
    font-size: 28px;
    line-height: 42px;
    text-align: left;
  }
  .popup-plan__close{
    display: block;
  }
}
.popup-plan__content{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 2px;
  font-size: 12px;
  line-height: 22px;
}
.popup-plan__content-mobile-not {
  display: none;
}
@media screen and ( min-width: 992px ) {
  .popup-plan__content{
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  .popup-plan__content-mobile {
    display: none;
  }
  .popup-plan__content-mobile-not {
    display: block;
  }
}
.popup-plan__block{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.popup-plan__item{
  flex-grow: 1;
  margin-bottom: 12px;
}
@media screen and ( min-width: 992px ) {
  .popup-plan__block{
    flex-direction: row;
  }
  .popup-plan__item{
    margin-bottom: 40px;
    width: calc(50% - 20px)
  }
  .popup-plan__item-big{
    width: 100%
  }
  .popup-plan__item:nth-of-type(2){
    margin-left: 40px
  }
}
.popup-plan__input{
  padding: 0 10px;
  width: 100%;
  height: 34px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #61676C;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
}
.popup-plan__input::placeholder{
  color: #D0D0D0;
}
.popup-plan__select{
  position: relative;
  width: 100%;
  height: 34px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #61676C;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 2px;
}
.popup-plan__select[data-state="active"] .__select__title::before {
  transform: scaleY(-1) translateY(-5px);
}
.popup-plan__select[data-state="active"] .__select__content {
  opacity: 1;
}
.popup-plan__select[data-state="active"] .__select__label + .__select__input + .__select__label {
  max-height: 56px;
  border-top-width: 1px;
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 2px;
  border: solid 1px #D0D0D0;
  cursor: pointer;
}
.__select__title::before {
  content: url('../img/icons/select_arrow.svg');
  position: absolute;
  top: 10px;
  right: 16px;
  display: block;
  transition: all 0.3s ease-out;
}
.__select__title:hover {
  border-color: #357ABD;
}
.__select__content {
  position: absolute;
  top: calc(100% - 2px);
  left: 3px;
  padding: 0 0 10px 0;
  max-height: 200px;
  overflow: auto;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);

  border: 1px solid #D0D0D0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}
.__select__input {
  display: none;
}

.__select__input:checked + label {
  background-color: #dedede;
}
.__select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  max-height: 0;
  padding: 0 12px;
  
  transition: all 0.2s ease-out;

  cursor: pointer;
  
  overflow: hidden;
}
.__select__label + input + .__select__label {
  border-top: 0 solid #C7CCD160;
}

.__select__label:hover {
  background-color: rgba(59, 120, 183, 0.2) !important;
}
.popup-plan__textarea{
  padding:0 10px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  box-sizing: border-box;
  border-radius: 2px;
  width: 100%;
  height: 100px;
  resize: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 30px;
  color: #61676C;
}
.popup-plan__textarea::placeholder{
  color: #D0D0D0;
}
.popup-plan__submit{
  width: 100%;
  padding: 9px;
  background: #357ABD;
  border-radius: 6px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}
.popup-plan__submit:hover{
  background: rgba(53, 122, 189, 0.7);
}
@media screen and ( min-width: 992px ) {
  .popup-plan__input{
    font-size: 16px;
    padding: 12px;
    height: 56px;
  }
  .popup-plan__select{
    font-size: 16px;
    height: 56px;
  }
  .popup-plan__textarea{
    font-size: 16px;
    height: 170px;
    padding: 12px;
  }
  .popup-plan__submit{
    padding: 17px;
    font-size: 18px;
    line-height: 23px;
    border-radius: 10px;
  }
}